<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQK83XJRsqjbpnRsUmMm7PSK9U4Wi7hQs</string>
	<key>GCM_SENDER_ID</key>
	<string>58566019116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sofy123.Travel</string>
	<key>PROJECT_ID</key>
	<string>travel-1f72e</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-1f72e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58566019116:ios:01ee85be81071005906989</string>
</dict>
</plist>